.c-login__wrapper {
  display: flex;
  min-height: 75vh;
  background: linear-gradient(to right, white 0.5%, rgba(0, 0, 0, 0)),
    url("../../assets/images/image372.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 450px;
}
.c-login__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  gap: 6rem;
  width: 100%;
}
.c-login__content-form-wrapper {
  width: 25%;
}
.c-login__content-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  margin-top: 2rem;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100px;
  }
}
.c-login__eye {
  cursor: pointer;
}
.c-login__forgot-password {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: var(--black);
  }
}
.c-login__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.c-login__inputs-active {
  border-color: var(--gray) !important;
  background-color: var(--lightest-gray) !important;
}
