.c-home {
  position: relative;
}
.c-home__img {
  aspect-ratio: 16/7;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-green);
    opacity: 0.4;
    pointer-events: none;
  }
}
.c-home__text {
  position: absolute;
  top: 0;
  margin: 2rem 5rem;
  width: 400px;
  & h1 {
    line-height: 1.3;
  }
  & h3 {
    font-weight: 400;
  }
}
.c-home__delivery {
  font-weight: 200;
  text-align: center;
  background-color: var(--light-green);
  padding: 1rem;
  color: var(--white);
  margin-top: -0.5rem;
  & p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }
  & span {
    color: var(--darker-gray);
    &:hover {
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.c-home__info {
  position: relative;
  & p {
    font-size: 1.25rem;
    line-height: 2;
    width: 75%;
    &:first-of-type {
      width: 90%;
    }
  }
  & img {
    position: absolute;
    right: 0;
    top: 30px;
    width: 250px;
  }
}
.c-home__services-wrapper {
  position: relative;
  & img {
    position: absolute;
    left: 0;
    top: 40px;
    width: 250px;
    z-index: -1;
  }
}
.c-home__services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-home__services-rows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75%;
  gap: 4rem;
  margin: 2rem auto;
  & div {
    width: 300px;
    padding: 1rem 0;
    margin: 0.5rem 0;
    font-family: "Inria Serif", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--lightest-yellow);
    border: 1px solid var(--dark-yellow);
  }
}
.c-home__wedding {
  display: flex;
  align-items: start;
  justify-content: left;
  margin: 5rem 0;
  height: 400px;
}
.c-home__wedding-img {
  width: 400px;
  height: inherit;
  object-fit: cover;
}
.c-home__wedding-content {
  text-align: center;
  width: 100%;
  height: inherit;
  background-color: var(--light-yellow);
  padding: 2rem;
}
.c-home__wedding-text {
  font-size: 1.25rem;
  line-height: 2;
  width: 60%;
  margin: 1rem auto;
  &:last-of-type {
    margin-bottom: 3rem;
  }
}
.c-home__contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  gap: 4rem;
  & h4 {
    font-weight: 600;
  }
}
.c-home__contact-data-wrapper {
  width: 25%;
}
.c-home__contact-data {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin: 1rem 0;
  &:first-of-type {
    margin-top: 2rem;
  }
  & span {
    font-weight: 300;
  }
}
.c-home__contact-form {
  width: 60%;
  padding: 0 2rem;
}
.c-home__contact-form--data {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  & input {
    width: calc(50% - 0.5rem);
  }
}
.c-home__contact-form--message {
  margin: 1rem 0;
  padding: 1rem;
}
.c-home__contact-form--btn {
  display: flex;
  margin-left: auto;
}
