.c-modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.c-modal {
  background-color: var(--white);
  width: 600px;
  padding: 0 2rem 3rem;
  border-radius: 8px;
  margin: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.c-modal__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  &:hover {
    fill: var(--gray);
  }
}
.c-modal__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.c-modal__btn-wrapper {
  display: flex;
  margin: 2rem 0 0 auto;
  gap: 1rem;
}
