.c-footer {
  width: 100%;
  background-color: var(--dark-green);
  color: var(--white);
  & > div {
    margin-bottom: 0;
  }
}
.c-footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  gap: 10rem;
}
.c-footer__content-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.c-footer__contact {
  margin: 1rem 0 0.5rem;
  & span {
    color: var(--light-gray);
  }
}
.c-footer__content-info-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10rem;
  margin: 1rem 0;
}
.c-footer__content-info {
  & h5 {
    font-weight: 600;
  }
  & li {
    margin: 0.5rem 0;
    font-weight: 300;
    color: var(--gray);
    cursor: pointer;
    &:hover {
      color: var(--lighter-gray);
    }
  }
}
.c-footer__content-rrss {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.c-footer__content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--darken-yellow);
  border-radius: 50%;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  & img {
    width: 25px;
    height: 25px;
    object-fit: none;
  }
  &:hover {
    background-color: var(--darken-yellow);
  }
}
.c-footer__rights {
  margin-top: 1rem;
  border-top: 1px solid var(--dark-gray);
  padding: 1.5rem 0 0.5rem;
  width: 100%;
  text-align: end;
  font-weight: 200;
}
