*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.875rem;

  --black: #000;
  --darker-gray: #333;
  --dark-gray: #808080;
  --gray: #929292;
  --light-gray: #c3c3c3;
  --lighter-gray: #e0e0e0;
  --lightest-gray: #f0f0f0;
  --lightest-gray-2: #fafafa;

  --dark-green: #3b4533;
  --light-green: #abb2a0;

  --darken-yellow: rgba(146, 128, 39, 0.8);
  --dark-yellow: rgba(177, 158, 60, 0.8);
  --yellow: rgb(177, 157, 60);
  --light-yellow: rgba(177, 158, 60, 0.35);
  --lighter-yellow: rgba(177, 158, 60, 0.2);
  --lightest-yellow: rgba(177, 158, 60, 0.08);

  --dark-red: #6b2e2e;
  --red: #a03d3d;
  --strong-red: #d32f2f;
  --light-red: #eec3c0;

  --light-white: #fefefe;
  --white: #fff;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--light-white);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-size: 3.5rem;
  font-family: "Inria Serif", sans-serif;
  margin: 2rem 0;
}

h2 {
  font-size: 2.5rem;
  font-family: "Inria Serif", sans-serif;
  margin: 1.75rem 0;
}

h3 {
  font-size: 1.75rem;
  font-family: "Inria Serif", sans-serif;
  margin: 1.5rem 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

h5 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

h6 {
  font-size: 1rem;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  background-color: transparent;
  font-family: inherit;
  outline: none;
}
button,
a {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
