.c-carrusel__content {
  margin: 3rem 0;
}
.slick-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.slick-list {
  width: 85%;
  margin: 0 auto;
}
.c-carrusel__images-wrapper {
  width: 350px !important;
  height: 425px;
  display: flex !important;
  margin: 0 auto;
}
.c-carrusel__img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.c-carrusel__chevron {
  width: 40px;
  background-color: var(--lightest-gray);
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: var(--lighter-gray);
  }
}
